<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @feel.date %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @feel.mood %>
</p>

<p>
  <strong>Note:</strong>
  <%= @feel.note %>
</p>

<%= link_to 'Edit', edit_feel_path(@feel) %> |
<%= link_to 'Back', feels_path %>
